.bg-img {
    /* The image used */
    background-image: url("src/assets/images/payment.jpg");
  
    /* Control the height of the image */
    height: 695px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .h6, h6{
      font-size: 1rem;
   }


.card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
    font-size: 30px;
}

.item img {
    width: 64px;
}

.item {
    margin: 0px 15px;
    text-align: center;
    height: 45%;
}

.item a:hover {
    color: blue;
    height: 50%;
}

.card {
    padding: 20px;
    margin: 50px;
}

.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
